<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basis">

    <application>
        <activity
            android:theme="@style/BasisTheme"
            android:name=".PreviewActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.preview" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
